body {
} 

.imageOne {
	background: url(./images/dawn-nature-sunset-trees.jpg) no-repeat;
	top: 50px;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.backgroundColorOne {
	background-color: #FBF9F7;
	/*background-color: #E9E0D6;*/
	height: 900px;
}

.projects {
	font-color: black;
	/*font-size: 15 em;*/
	text-align: center;
}

.backgroundColorTwo {
	background-color: #FBF9F7;
	height: 800px;
/*	opacity: 0.2;*/
}

.introduction {
	/*z-index: 1;*/
	font-size: 35px;
	line-height: 1em;
	text-align: center;
	position: relative;
	top: 30% ;
}

.fancy {
	/*color: pink;*/
}

.imageTwo {
	height: 500px;
	background: url(./images/healthy-nature-bush-leaf.jpg) no-repeat center center fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.black-bg {
	background: #333;
}

.pink-bg {
	background: pink;
}

.white-bg {
	background: #fff;
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	-ms-transition: background 2s ease;
	-o-transition: background 2s ease;
	transition: background 2s ease;
}

.coral-bg {
	background: #E45F56;
	opacity: 0.7;
	-webkit-transition: background 2s ease-in-out;
	-moz-transition: background 2s ease-in-out;
	-ms-transition: background 2s ease-in-out;
	-o-transition: background 2s ease-in-out;
	transition: background 2s ease-in-out;
}

.clear-bg {
	background: transparent;
	-webkit-transition: background 2s ease-in-out;
	-moz-transition: background 2s ease-in-out;
	-ms-transition: background 2s ease-in-out;
	-o-transition: background 2s ease-in-out;
	transition: background 2s ease-in-out;
}

nav {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	padding: 5px;
	height: 50px;
}

ul {
	bottom: 35px;
	float: right;
	/*margin: 0 ;*/
	padding-top: 30px;
	position: relative;
	right: 10em;
/*	text-align: center;
*/}
li {
  display: inline;
  font-size: 1.2em;
	margin-right: 10px;
	padding-right: 30px;
	text-align: center;
}

.clear-bg {
	background: transparent;
}

.coral-bg {
	background: #E45F56;
	-webkit-transition: background 2s ease-in;
	-moz-transition: background 2s ease-in;
	-ms-transition: background 2s ease-in;
	-o-transition: background 2s ease-in;
	transition: background 2s ease-in;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: #f3f3f3;	

}

.backgroundColorTwo {
	background-color: #E9E0D6;
	height: 600px;
	opacity: 0.2;
/*	position: absolute;
	top: 100px;*/
}

#projOne {
	display: none;
}

.projects {
	-webkit-transition: all 7s ease-in;
	-moz-transition: all 7s ease-in;
	-ms-transition: all 7s ease-in;
	-o-transition: all 7s ease-in;
	transition: all 7s ease-in;
}
/*
#wrapper {
	max-width: 1524px;
	margin: 0 auto;
	background-color: #fff;
	padding: 32px;
}

header {
	background-color: #7ACCC8;
	height: 150px;
	padding: 4px;
}

header h1 {
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 50px;
}

header h2 {
	font-variant: small-caps;
	text-align: center;
	color: #fff;
}

.main_menu {
	padding: 5px 0 5px 0;
	text-align: center;
	line-height: 32px;
	background-color: #E45F56;
}

ul.main_menu {
	margin-top: 15px;
}

.main_menu li {
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 16px;
}

.main_menu a {
	text-decoration: none;
	color: #fff;
	padding: 8px;
	font-variant: small-caps;
}

.main_menu a:hover {
	color: #59d5d8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.image-one, span {
	background-size: cover;
	background-image: url("https://static.pexels.com/photos/2946/dawn-nature-sunset-trees.jpeg");
}*/